<header>
  <h1>Dobro došli na platformu za detekciju govora mržnje</h1>
</header>
<section>
  <h2>O platformi - Hate-Speech Evaluation and Reporting Optimizer (HERO)</h2>
  <p>
    Naša platforma koristi naprednu AI tehnologiju kako bi detektovala govor
    mržnje u različitim vrstama sadržaja, uključujući novinske članke, tweetove,
    slike, video sadržaj i više. Korisnici mogu pristupiti različitim sekcijama
    gde mogu pregledati označene novinske članke i naloge na društvenim mrežama,
    kao i dobiti povratnu informaciju o sadržaju koji njih interesuje.
  </p>
</section>

<div class="card-container">
  <h2 style="color: rgb(49, 129, 209)">Brzi pristupi</h2>
  <div class="card">
    <p style="color: black">
      📄 Da biste pristupili primerima detektovanog govora mržnje u člancima
      poznatih portala, možete posetiti stranicu iz menija ili preko
      <a href="/page1">ovog linka</a>.
    </p>
    <p style="color: black">
      🐦 Da biste videli listu Twitter profila koje su korisnici prijavljivali
      zbog govora mržnje, posetite stranicu iz menija ili kliknite na
      <a href="/page2">ovaj link</a>.
    </p>
    <p style="color: black">
      🔍 Proveru da li neki sadržaj koji želite da priložite sadrži govor mržnje
      možete izvršiti preko sledećeg <a href="/report">linka</a>.
    </p>
  </div>
</div>
