<div class="grid-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Informer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Sad mi je sasvim jasno zašto Aleksandra Vučića
        <span class="highlight"> toliko mrzite</span>. Za razliku od mnogih koji
        moraju da slušaju tuđe naredbe, Vučić je hrabar, slobodan čovek. Takođe
        mi je jasno da vi <span class="highlight">Hrvati</span>, baš kao ni ova
        <span class="highlight">nesrećna opozicija</span> u Srbiji, Vučića
        uopšte ne poznajete. Uostalom, danas je već 3. maj, pa će se uskoro sve
        videti. Ašta ćete onda? - upitala je Ana Brnabić.
      </p>
    </mat-card-content>
    <mat-card-actions>Govor mržnje sa 82% sigurnosti</mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Informer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Kakvo je to zlo u ovim
        <span class="highlight">jadnim, malim, besčasnim ljudima</span>, pa se
        <span class="highlight">raduju nečijoj bolesti</span>? Likujuzato što je
        predsedniku države pozlilo, kuju bolesne teorije zavera i šire laži po
        društvenim mrežama i <span class="highlight">tajkunskim</span> medijima
        - naveo je Vučević na mreži Iks. Kako je rekao, među najglasnijima koji
        šire lažije, koji je željan publiciteta.
      </p>
    </mat-card-content>
    <mat-card-actions>Govor mržnje sa 98% sigurnosti</mat-card-actions>
  </mat-card>
</div>
